

<p><%= @message%></p>

<a href="/signup" id="message"><span>Sign Up</span>
  Getting started with Heroku is easy. &nbsp; &nbsp; &nbsp;

</a>

<div class="cont">

  <pre>asdfasd
  asdf
  as
  df
  asdf
    </pre>


</pre>